.header__user-nav {
  //outline: 2px solid red;
  margin-right: 60px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.header__user-nav--nojs {
  margin-right: 0;
}

.user-nav__list {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 25vw;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    padding-right: 40px;
  }
}

.user-nav__link {
  outline: 1px solid blue;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  &:active {
    background-color: $secondary;
  }

  @media (min-width: $tablet-width) {
    height: 80px;
    justify-content: left;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: auto;
    padding: 30px 25px 29px 20px;
  }
}

@media (min-width: $desktop-width) {
  .user-nav__link:focus,
  .user-nav__link:hover,
  .user-nav__link:active {
    color: $primary;

    & .user-nav__svg {
      stroke: $primary;
    }
  }

  .user-nav__link:active {
    background-color: $secondary;
  }
}



.user-nav__svg {
  width: 16px;
  height: 16px;

  @media (min-width: $desktop-width) {
    transform: translateX(-6px) translateY(1px);
  }
}

.user-nav__link span {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }
}
