.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative;


  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-wrap: nowrap;
    //display: flex;

    //width: 768px;
    //padding-left: 20px;
    //padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    //width: 1440px;

  }
}
