.form-filter__range-price {
  @media (min-width: $desktop-width) {
    grid-row: 1/2;
  }
}

.form-filter__range-price .form-filter__legend {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.form-filter__range-controls {
  margin-bottom: 36px;
  margin-top: 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.form-filter__price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  position: relative;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    gap: 50px;
  }
}

//Ранж не активный

.form-filter__wrap-range--disabled .range-controls__bar {
  background-color: $grey;
}

.form-filter__wrap-range--disabled .range-controls__toggle {
  border: 2px solid  $grey;
}

.form-filter__wrap-range--disabled .range-controls__toggle:hover::after,
.form-filter__wrap-range--disabled .range-controls__toggle:focus::after,
.form-filter__wrap-range--disabled .range-controls__toggle:active::after {
  display: none;
}

.form-filter__wrap-range--disabled .price-controls__input,
.form-filter__wrap-range--disabled .price-controls__input:hover,
.form-filter__wrap-range--disabled .price-controls__input:focus,
.form-filter__wrap-range--disabled .price-controls__input:active {
  border: 2px solid $grey;
}
