.slider {
  width: 100%;
  margin: 0 auto;
}

.slider__list {
  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 197px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.slider__item {
  padding: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 270px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 60px 83px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &:first-child {
    background-color: $bg-flat-white;
  }

  &:nth-child(2) {
    background-color: $bg-lavander;
  }

  &:last-child {
    background-color: $bg-espresso;
  }
}

.slider__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    position: absolute;
    top: 0;
    bottom: -85%;
    left: 0;
    right: 0;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
    position: relative;
    top: 0;
    margin-left: 44px;
  }
}
