.footer__media {
  @media (max-width: $mobile-max-width) {
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 15px;
    padding-top: 5px;
  }
}

.media__item {
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}
